@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --cor0: #d2872c;
  --cor1: #766f68;
  --cor2: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* NavBar */
.nav-container {
    width: 100vw;
    height: auto;
    display: flex;
    cursor: default;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.nav-container h1 {
    padding: 25px 0px 25px 0px;
    font-size: 35px;
    margin: auto;
    color: var(--cor0);
}

.nav-item {
    margin: auto;
    display: flex;
    align-items: center;
    list-style: none;
}

.li-itens {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.li-itens:hover {
    color: var(--cor0);
}

.li-itens:nth-child(1){
    border-right: 2px solid rgba(0, 0, 0, 0.15);
}

.li-itens:nth-child(2){
    border-right: 2px solid rgba(0, 0, 0, 0.15);
}
/* NavBar */

/* Main */
.main-container {
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor2);
    cursor: default;
}

.main-text {
    z-index: 1;
    position: absolute;
    left: 400px;
    font-size: 45px;
    color: var(--cor1);
}

.main-text h1 {
    margin: 0px 0px 40px 0px;
}

.main-text p {
    margin: 0px 0px 50px 0px;
    font-size: 35px;
    font-weight: bold;
}

.main-text button {
    padding: 25px 125px 25px 125px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    color: var(--cor2);
    background: var(--cor0);
    cursor: pointer;
}

.main-img img {
    position: absolute;
    bottom: 65px;
    right: 60px;
    width: 1000px;
    height: 600px;
}
/* Main */

/* Footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 25px 0px 25px 0px;
}

.footer-text {
    margin: auto;
}

.footer-text h1 a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    color: var(--cor1);
    border: 2px solid var(--cor0);
    border-radius: 50px;
}

.footer-text h1 a:hover {
    color: var(--cor2);
    background: var(--cor0);
}

.footer-item {
    margin: auto;
}

.footer-item a {
    margin: auto;
    padding: 0px 15px 0px 15px;
}
/* Footer */